@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  z-index:0;
  /* background: #EAE8FF; */
  margin: 0;
  font-family: 'Roboto';
  font-size: 1em; 
  --light-color: #EAE8FF;
  --green-color: #00cc71;
  --dark-grey: #2d3142;
  box-sizing:border-box;


}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
/* opacity: 0.3; */
background-color: var(--light-color);
background-color: var(--light-color);
/* opacity: 0.3; */
background-size: 12px 12px;
background-image: repeating-linear-gradient(45deg, #cbcadc 0, #cbcadc 0.6000000000000001px, #EAE8FF 0, #EAE8FF 50%);
  
}
header {
  z-index: 25;
  position:fixed;
  width:96%;
  height: 3rem;
  min-height: 2rem;
  background-color: #EAE8FF;
  text-align: center;
  padding : 2%;
  
 

}
header a {
  margin-left:2%;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: inline-block;
}
header h1, header h2 {
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left{
  width:50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right{
  width:50%;
  display: flex;
  justify-content: flex-end;
}
footer {
  background: #2d3142;
  color: #bbb;
  padding: 40px;
  text-align: center;
  margin-top: auto
}
.page-content {
  max-width: 1200px;
  margin: 100px auto 80px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/*---------------------------------------------------- */
/*---------------------------------------------------- */
/* ------------------burger menu----------------------*/
/*---------------------------------------------------- */
.burger{
  display: none;
}
.burger__background{
  display: none;
}
.burger__btn{
  position:relative;
  z-index:100;
  width:30px;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in;
}
.burger__btn::before,
.burger__btn::after{
  content:'';
  position: absolute;
  width:30px;
  height:3px;
  left:0px;
  border-radius: 5px;
  background-color: black;
  transition: transform 0.3s ease-in;

  
}

.burger__btn::before{
  transform: translateY(-10px) ;
  transition: transform 0.3s ease-in;
}
.burger__btn::after{
  transform: translateY(10px) ;
  transition: transform 0.3s ease-in;
}

.burger__btn--open::before {
  transform: rotate(55deg);
  transition: transform 0.3s ease-in;
}

.burger__btn--open::after {
  transform: rotate(-55deg);
  transition: transform 0.3s ease-in;
}

.burger__btn--open {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in;
}




@media only screen and (max-width: 600px){
  .menulink{
    display:none;
  }
  .right{
    width:20%;
  }
  .left{
    width:80%;
  }
  .burger{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    cursor: pointer;
    /* border: 2px solid black; */

  }

  .burger:hover{

  }
  .burger--open{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:-12px;
    top:-10px;
    width:105vw;
    height: 105vh;
    background-color: var(--green-color);
    font-size:2.5rem;
    font-weight: bold;
    line-height: 5rem;
    color: white;
  }
  .burger__link{
    margin: 3rem 0;
  }
}
